<div class="col">
  <div id="<%= dom_id post %>" class="card text-dark bg-light p-0 h-100">

    <%# Card with post title and body %>
    <div class="card-body">
      <h5 class="card-title"><%= post.title %></h5>
      <hr>

      <%# Display the first 200 characters of the post body %>
      <p class="card-text"><%= post.body[0..199] %><%= "..." if post.body.length > 200 %></p>
    </div>

    <%# Footer with post author and creation date %>
    <div class="card-footer">
      <p class="card-text mb-1"><small class="text-muted"><%= post.user.full_name %>, <%= local_time(post.created_at, "%-m/%-d/%y %l:%M %p") %></small></p>

      <%= link_to "View Full Post", post_path(post), class: "card-link" %>
    </div>
  </div>
</div>